<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MyWebService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WS/MyWebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="MyWebService1Soap" contract="MyWebService1.MyWebService1Soap"
        name="MyWebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>